html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  /* overflow: hidden; */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  /* scroll-behavior: ; */
  
}

h1, h2, p, h3{
  margin: 0;
}

h2 {
  font-size: 72px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:visited { text-decoration: none; }

li {
  margin-right: 30px;
}

li:last-child {
  margin-right: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 18px;
}

.max-width {
  max-width: 1440px;
}

.weight700 {
  font-weight: 700;
}

.weight900 {
  font-weight: 900;
}

.weight500 {
  font-weight: 500;
}


.neon-green {
  background-color: #A8FF35
}

.green-2 {
  color: #87D322;
}

.black {
  background-color: #000000;
}

.white {
  background-color: white;
}

.text-white {
  color: white;
}

.text-gray {
  color: #ADADAD;
}



button {
  border-radius: 40px;
  border: none;
  padding: 12px 32px;
  font-size: 18px;
}

.hero-container {
  height: 800px;
  background: url(https://i.ibb.co/BP58ZVD/Bg-hero.png)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 99px;
  background-color: #000000;
  max-width: 90%;
}

.logo {
  height: 41px;
  width: 170px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.logo img {
  height: 100%;
}

.logo h1 {
  margin-left: 10px;
  font-size: 24px;
}

.btn-login {
  margin-right: 10px;
}

.hero-content {
  width: 750px;
  align-items: center;
  margin: 8% auto;
  /* text-align: center; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-content h2 {
  line-height: 80px;
}

.hero-content p {
  margin: 10px 0;
  padding: 20px;
  color: #8b8b8b;
  line-height: 27px;
  font-weight: 400;
}

.hero-btn {
  padding: 16px, 32px;
  font-size: 18px;
  line-height: 25.2px;
  height: 57px;
}

.open-tab-container {
  padding: 100px 0 ;
  height: 642px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 854px;
  height: 462px;
}

.tab-content h2 {
  line-height: 85.5px;
}

.img-container {
  width: 502px; 
  height: 202px;
  border-radius: 16px;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 341.2px;
  height: 82px;
}


.tab-content p {
  text-align: center;
  line-height: 27px;
}

.findtrend-about {
  text-align: center;
  padding: 30px;
  padding-bottom: 40px;
}

.about-container {
  max-width: 1160px;
  margin: auto;
  padding: 20px;
}

.info {
  margin: 150px auto;
}

.info h2, .startup-growth h2 {
  font-size: 55px;
  line-height: 76px;
  text-align: left;
}

.startup-growth h2 {
  text-align: center;
}

.startup-growth {
  margin: 200px auto 80px;
  max-width: 1160px;
}

.companies-container {
  margin-top: 60px;
}

.companies-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px ;
}

.companies-section:last-child {
  margin: 0;
}

.company {
  border-radius: 8px;
  background-color: #f5f5f5;
  width: calc(25% - 10px);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company img {
  width: 75%;
}

.findtrend-platform {
  background-color: #fafafa;
  text-align: center;
  padding: 100px 30px;
}

.findtrend-platform h2{
  max-width: 1166px;
  margin: auto;
  font-size: 64px;
  line-height: 76px;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 1166px;
  margin: 100px auto;
  
}

.social-logo {
  background-color: #FFFFFF;
  height: 60px;
  width: 60px;
  border-radius: 8px;
  margin-right: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.twitter {
  background-color: #A8FF35;
}

.social-logo:last-child {
  margin-right: 0;
}

.social-logo img {
  width: 100%;
}

.twitter-posts {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin: 10px;
}


.btn-more-trend {
  height: 57px;
  padding: 16px 32px;
  line-height: 25px;
  text-align: center;
  margin: 50px auto 10px;
}


.deals-container {
  padding: 20px;
}

.deals-container h2 {
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  margin: 70px 0 30px;
}

.monthly-yearly{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.monthly-yearly h3 {
  line-height: 29px;
  margin: 15px 0;
}


.toggle-container {
  width: 104px;
  height: 52px;
  border-radius: 99px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 25px 15px;
}

.toggle {
  width: 36px;
  height: 36px;
  border-radius: 99px;
  margin-left: 8px;
}

.yearly-color {
  color: #f5f5f5a1;
}

.deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1166px;
  margin: 25px auto 100px;
}

.deal-card{
  width: 360px;
  padding: 20px;
  padding-bottom: 5px;
  background-color: white;
  color: #000000;
  border-radius: 16px;
  margin-right: 30px;
}

.deal-card:last-child{
  margin-right: 0;
}

.middle-neon{
  background-color: #A8FF35;
}

.top-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.349);
  padding-bottom: 30px;
}

.top-section h3 {
  font-size: 36px;
  margin-bottom: 5px;
}


.middle-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.middle-section h3 {
  font-size: 64px;
}

.middle-section h3 span {
  font-size: 18px;
  font-weight: 400;
}

.middle-section ul{
  flex-direction: column;
  margin-top: 15px;
  height: 300px;
}

.middle-section ul li::before{
  content: "✓";
  margin-right: 8px;
}

.middle-section ul li {
  line-height: 25px;
  margin: 12px 0;
}

.top-section, .middle-section, .deal-card button {
  margin-left: 15px;

}

.deal-card button {
  width: calc(296px - 30px);
  height: 58px;
  border-radius: 29px;
  line-height: 25px;
  margin: 25px auto 15px ;
  margin-left: calc(22% - 40px);
}

.join-email {
  padding: 50px;
  text-align: center;
  line-height: 80.6px;
}

.join-info {
  width: 790px;
  font-size: 72px;
  line-height: 80.6px;
  margin: 60px auto 40px;
}

.join-email button{
  padding: 16px 32px;
  width: 180px;
  margin-bottom: 80px;
}

footer {
  padding: 25px 60px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.footer-logo {
  margin-left: 45px;
}

.footer-info {
  margin-right: 45px;
}

.footer-info a {
  color: black;
  font-weight: 400;
}

@media screen and (max-width: 1022px) {
  h2 {
    font-size: 58px;
  }

  .hero-container {
    margin: 0;
  }

  .nav-menu, .nav-btns, .logo h1 {
    display: none;
  }

  nav {
    max-width: 90%;
    padding: 20px;
    padding-top: 25px;
    background-color: #00000000;
  }

  .logo {
    width: 65px;
    height: 60px;
  }

  .hero-content {
    margin-top: 15%;
    padding: 0;
    width: 700px;
  }

  .hero-content h2 {
    line-height: 70px;
  }

  .hero-content p, .tab-content p  {
    font-size: 16px;
    width: 450px;

  }

  .hero-content p br, .tab-content p br {
    display: none;
  }

  .info{
    margin-top: 100px;
  }

  .info h2, .startup-growth h2, .findtrend-platform h2 {
    font-size: 50px;
    line-height: 70px;
  }

  .companies-section {
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  .company {
    width: calc(50% - 20px);
    margin: 10px;
  }

  .company img {
    width: calc(50% - 10px);
  }

  .socials {
    width: 515px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .social-logo {
    width: calc(22% - 60px);
    margin: 5px;
  }

  .deals-container {
    padding: 10px;

  }

  .deals-container h2 {
    font-size: 58px;
  }

  .toggle-container {
    height: 48px;
  }

  .deals {
    flex-direction: column;
    margin-bottom: 70px;
  }

  .deal-card {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .join-email {
    padding: 10px;
  }

  .join-info {
    width: 650px;
  }

  .join-info h2 {
    font-size: 48px;
    line-height: 52px;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    margin: 0 auto;
    width: auto;
  }
  
  .footer-logo h1 {
    display: block;
  }

  .footer-info {
    margin: 0;
  }

  .footer-info ul {
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    gap: 40px;
  }

  .footer-info ul li {
    margin: 0 ;
  }


}

@media only screen and (max-width: 699px){
  h2 {
    font-size: 34px;
  }


  .logo {
    width: 40px;
    height: 40px;
  }

  .hero-content {
    width: 320px;
  }

  .hero-content h2 {
    line-height: 112%;
  }

  .hero-content p, .tab-content p  {
    font-size: 14px;
    width: 320px;

  }

  .open-tab-container {
    height: auto;
  }

  .tab-content {
    width: 330px;
    margin-top: 50px;
  }

  .tab-content h2 {
    font-size: 30px;
    line-height: 110%;
    
  }

  .img-container {
    width: 330px;
    height: 118px;
  }

  .img-container img {
    width: 90%;
    height: auto;
  }

  .findtrend-about {
    padding: 10px;
  }

  .info{
    margin-top: 40px;
    padding: 5px;
  }

  .info h2, .startup-growth h2, .findtrend-platform h2 {
    font-size: 36px;
    line-height: 110%;
  }

  .startup-growth {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .startup-growth h2 {
    margin-top: 50px;
  }

  .companies-section {
    margin-bottom: 0px;
  }

  .company {
    margin: 5px;
  }

  .company img {
    width: calc(90% - 10px);
  }

  .findtrend-about {
    padding: 10px
  }

  .socials {
    flex-wrap: nowrap;
    display: none;
  }

  .social-logo {
    padding: 0px;
    width: 64px;
    height: 64px;
  }

  .social-logo img {
    width: 50%;
  }

  .findtrend-platform {
    padding: 80px 20px;
  }

  .post {
    margin: 0;
  }

  .btn-more-trend  {
    padding: 12px 24px;
    font-size: 14px;
  }

  .deals-container {
    padding: 5px;
  }

  .deals-container h2 {
    font-size: 32px;
  }

  .monthly-yearly h3 {
    font-size: 20px;
  }

  .toggle-container {
    height: 44px;
    width: 104px;
  }

  .deals {
    flex-direction: column;
  }

  .deal-card {
    width: 300px;
    padding: 5px;
  }

  .top-section h3 {
    margin-top: 10px;
  }

  .deal-card button {
    width: 278px;
    height: 54px;
    margin-left: calc(22% - 55px);
  }

  .join-info {
    width: 300px;
  }

  .join-info h2 {
    font-size: 30px;
    line-height: 110%;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    margin: 0 auto;
    width: auto;
  }
}
